* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}

.margin {
    width: 1170px;
    margin: auto;
}

.headerTopBG {
    background-color: #404eed;
    height: 80px;
    
}

.headerTop {
    display: flex;
    align-items: center;
    height: 60px;
    padding-top: 20px;
}

.NavContainer {
    display: flex;
    width: 60%;
    justify-content: center;
}

.headerTopItem {
    flex-grow: 1;
    height: 100%;

}

.headerTopItem3 {
    flex-grow: 1;
    height: 70%;
}


.button {
    background-color: white;
    padding: 15px;
    border-radius: 50px;
}

.button2 {
    background-color: black;
    padding: 15px;
    border-radius: 50px;
    color: white;
}

.navitem {
    list-style: none;
    padding: 10px;
    color: white;
    height: 70%;
    font-size: 16px;
}

li {
    margin: 10px;
}

.login {
    text-align: right;
    line-height: 35px;
}

.headerBotBG{
    background-image: url("../img/jumbo.png");
    height: 670px;
    background-size: 100%;
    background-repeat: no-repeat;
}
 .headerBot {
    height: 700px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
 
 .HeaderBotBox {
    height: 350px;
    width: 80%;
 }

 h1 {
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 50px;
 }

 .HeaderBotBox p {
    color: white;
    text-align: center;
    font-size: 24px;
    padding-top: 15px;
 }
 .headerButton {
    font-size: 22px;
    display: inline-block;
    margin-left: 20%;
    margin-top: 20px;
 }

 .headerButtonBlack {
    font-size: 22px;
    display: inline-block;
    margin-left: 5%;
    margin-top: 20px;
 }

 .section {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.sectionImg {
    height: 500px;
    width: 60%;
    background-color: #007fff;
}

.sectionTxt {
    height: 500px;
    width: 40%;
    background-color: rgb(253, 148, 239);
}

h2 {
    font-size: 55px;

}
.sectionTxt h2 {
    padding-top: 30px;
}

.sectionTxt p {
    font-size: 23px;
    margin-top: 50px;
    line-height: 31px;
}

.section2 {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.graybg {
    background-color: lightslategray;
}

.MainLastBox {
    height: 800px;
    width: 100%;
    display: inline-block;
}

.MainLastSection {
    height: 1000px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.MainLastBox * {
    text-align: center;
}

.last-h2-p-container p {
    font-size: 23px;
    margin-top: 40px;
    line-height: 31px;
}

.MainLastBox img {
    width: 100%;
    height: 80%;
}

.last-row img {
    display: block;
    margin: auto;
    text-align: center;
    width: 600px;
}

.last-row h3 {
    font-size: 32px;
    text-align: center;
    margin-top: -40px;
    line-height: 50px;
}

.footerBG {
    background-color: rgb(20, 20, 20);
}

.FooterSection {
    height: 600px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.bigsubsection {
    background-color: 	#FA8072;
    height: 550px;
    width: 35%;
}

.subsections {
    background-color: rgb(76, 198, 214);
    height: 550px;
    width: calc((100%-35%) / 4);
}

.lastFooterSection {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}

.lastFooterBG {
    background-color: rgb(20, 20, 20);
    height: 100px;
    padding-top: 50px;
}

.lastButton {
    background-color: rgb(238, 155, 231);
    padding: 5px;
    border: 2px dashed black;
}

.lastLogo {
    background-color: rgb(238, 155, 231);
    padding: 5px;

}

.border {
    border: 2px dashed black;
}